@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

* {
  font-family: var(--font-outfit), sans-serif;
}

.font-ovo {
  font-family: var(--font-ovo), serif;
}

   .cocktail-img {
            @apply md:w-[60vw] w-full h-[50vh] md:h-[70vh] rounded-4xl overflow-hidden absolute top-0 md:top-1/2 md:-translate-y-1/2 left-1/2 -translate-x-1/2;
        }
        @utility abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility masked-img {
    mask-image: url("/nnnn.png");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 50%;
}

/* .hero,
.paragraph {
  visibility: hidden;
} */

/* Add to your component with <style jsx> or global CSS */
